.react-calendar {
  background: white;
  border-radius: 10px;
  padding: 10px;
}

.react-calendar__tile {
  border-radius: 5px;
  transition: 0.2s;
}

.react-calendar__tile:enabled:hover, 
.react-calendar__tile:enabled:focus {
  background: #3b82f6;
  color: white;
}








